.project-card {
    background-color: rgb(0, 0, 0);
    color: white;
    break-inside: avoid;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  .github-img{
    height: 30px;
    width: 30px;
    display: block;
    cursor: pointer;
  }
  .project-card img {
    transition: all 0.3s;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }
  
  .project-card:hover img {
    transform: scale(1.1);
    filter: brightness(0.3);
  }
  
  .project-card p {
    line-height: 1.5rem;
  }
  
  .card-description {
    padding: 2% 4% 5% 4%;
  }
  
  .stacks {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
  }
  
  .tech-stack {
    border-radius: 3px;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    color: white;
    border: 0;
    cursor: none;
  }
  
  .tech-stack:hover {
    border: none;
    background-color: #cb450c;
    color: white;
  }
  
  .arrow {
    position: absolute;
    rotate: -45deg;
    font-size: 2.7rem;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    color: white;
  }
  
  .project-card:hover .arrow {
    top: 2%;
    left: 95.5%;
    opacity: 0.7;
    z-index: 55;
  }
  
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (min-resolution: 125dpi) {
    .project-card p {
      font-size: 0.9rem;
    }
  }
  
  /* for mobile and tablet devices */
  
  @media only screen and (max-width: 768px) {
    .tech-stack {
      font-size: 0.8rem;
    }
  }
  
.projects {
    padding: 0 10%;
    margin-bottom: 10%;
  }
  
  .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  
  .projects-title {
    margin-top: 2rem !important;
    text-align: right;
  }
  
  .projects-para {
    font-size: 1.5rem;
    color: white;
    margin: 2% 0 4rem 0;
    font-family: 'Orbit', sans-serif;
    text-align: justify;
  }
  
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (min-resolution: 125dpi) {
    .projects-para {
      font-size: 1.2rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .projects-container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .projects {
      padding: 0 5%;
      margin-bottom: 20%;
    }
  
    .projects-para {
      font-size: 1rem;
    }
  }
  
  @media only screen and (min-width: 769px) and (max-width: 1200px) {
    .projects-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  