body {
  margin: 0;
  background: rgb(0, 0, 0);
}
.App {
  background-image: url('./assets/effect.png');
  animation: static 3s steps(5, end) infinite;
  z-index: 999;
  background-size: 200px;
}
@keyframes static {
  0% {
    background-position: 0% 0%;
  }

  20% {
    background-position: 25% 15%;
  }

  40% {
    background-position: 50% 69%;
  }

  60% {
    background-position: 33% 25%;
  }

  80% {
    background-position: 72% 4%;
  }

  100% {
    background-position: 80% 91%;
  }
}